In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [20]:
data = pd.read_excel(r"C:\Users\Administrator\Documents\SaleData1.xlsx")

In [21]:
data

    Cost for Advertisement  Sales generated per dollar spent
0                     12.0                                15
1                     20.5                                16
2                     21.0                                18
3                     15.5                                27
4                     15.3                                21
5                     23.5                                25
6                     21.3                                21
7                     28.0                                22
8                     24.0                                40
9                     15.5                                 3
10                    17.3                                21
11                    25.3                                29
12                    25.0                                62
13                    36.0                                65
14                    34.0                                46
15                    29.0                                44
16                    30.5                                33
17                    21.0                                67
18                    26.0                                22
19                    21.0                                12
20                    18.0                                24
21                    20.0                                 9
22                    16.0                                 5
23                    20.7                                15
24                    26.0                                36
25                    30.6                                40
26                    32.0                                49
27                    29.5                                15
28                    10.5                                16
29                    28.3                                52
30                    32.3                                17
31                    26.4                                 5
32                    20.4                                10
33                    16.4                                 1

In [22]:
import sklearn
from sklearn import linear_model

In [23]:
x=data.drop('Sales generated per dollar spent',axis ='columns')
x

    Cost for Advertisement
0                     12.0
1                     20.5
2                     21.0
3                     15.5
4                     15.3
5                     23.5
6                     21.3
7                     28.0
8                     24.0
9                     15.5
10                    17.3
11                    25.3
12                    25.0
13                    36.0
14                    34.0
15                    29.0
16                    30.5
17                    21.0
18                    26.0
19                    21.0
20                    18.0
21                    20.0
22                    16.0
23                    20.7
24                    26.0
25                    30.6
26                    32.0
27                    29.5
28                    10.5
29                    28.3
30                    32.3
31                    26.4
32                    20.4
33                    16.4

In [24]:
y=data.drop('Cost for Advertisement',axis='columns')
y

    Sales generated per dollar spent
0                                 15
1                                 16
2                                 18
3                                 27
4                                 21
5                                 25
6                                 21
7                                 22
8                                 40
9                                  3
10                                21
11                                29
12                                62
13                                65
14                                46
15                                44
16                                33
17                                67
18                                22
19                                12
20                                24
21                                 9
22                                 5
23                                15
24                                36
25                                40
26                                49
27                                15
28                                16
29                                52
30                                17
31                                 5
32                                10
33                                 1

In [25]:
reg=linear_model.LinearRegression()
reg.fit(x,y)

LinearRegression()

In [26]:
reg.intercept_

array([-8.87550822])

In [27]:
reg.coef_

array([[1.52734189]])

In [28]:
a=((reg.score(x,y))*100)
b=round(a,2)
print(f'The efficiency of the Model is {b}%')

The efficiency of the Model is 30.54%